@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ### Primary */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    /* ### Neutral */

    --Black: hsl(212, 21%, 14%);
    --Grey: rgb(108, 114, 137);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
  }
}

body {
  background: var(--Cream);
  color: var(--Black);
}